# Unreal Engine ignored files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vscode/
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.doccache
*.opendb
*.db

# Plugins
plugins/

# Gemini CLI Configs
GEMINI.md
.geminiignore

# Git-LFS S3 Adapter
lfs-s3.exe
lfs-s3.tar.gz
#setup_lfs.ps1